div {
  width: 100px;
  height: 100px;
  color: white;
  margin: 2px;
}

.transition {
  background-color: rgb(1, 43, 29);
  transition: all 2s linear;
}
.transition:hover {
  transform: skew(180deg);
}
.animation {
  background-color: rgb(1, 10, 10);
  /* animation-name: king;
  animation-duration: 5s;
  animation-iteration-count: 3; */
  animation: rotate 2s infinite;
  /* backwar means going back to original state */
  animation-fill-mode: backwards;
  /* forward means, going with animation flow mode */
}

@keyframes rotate {
  0% {
    transform: rotate(54deg);
  }
  10% {
    transform: skew(180deg);
  }
  15% {
    background-color: aqua;
    border-radius: 50%;
  }
  25% {
    background-color: rgb(0, 0, 0);
    transform: translate(-50px, 60px);
  }
  50% {
    transform: translate(50px, 100px);
    opacity: 1;
  }
  70% {
    transform: rotate(90deg);
    transform: translate(60px, -30px);
  }
  80% {
    background-color: brown;
    transform: rotate(180deg);
    transform: translate(60px, -20px);
    opacity: 0;
  }
  90% {
    background-color: rgb(147, 247, 7);
    transform: rotate(160deg);
    transform: translate(60px, -20px);
    opacity: 0.9;
  }
  95% {
    background-color: rgb(255, 5, 0);
    transform: rotate(98deg);
    transform: translate(70px, -10px);
    opacity: 0.8;
  }
  100% {
    background-color: blueviolet;
    transform: rotate(98deg);
    transform: translate(0px, -5px);
    opacity: 2;
  }
}
