div {
	width: 200px;
	height: 200px;
	display: inline-block;
	margin-top: 50px;
	margin-left: 60px;
}

div:hover {
	transform: scale(1.5);
	background: rgb(0, 0, 0);
}

.one {
	background: rgb(232, 169, 9);
}
.two {
	background: red;
}

.three {
	background: rgb(91, 218, 32);
	transition-property: background, transform;
	/* Color will change in 3 seconds and its size in one second */
	transition-duration: 3s, 1s;
	transition-delay: 3s;
}
