* {
  margin: 0;
}

div {
  width: 110px;
  height: 100px;
  background-color: rgb(27, 145, 255);
  margin-bottom: 2px;
  text-align: center;
  font-size: 1.4em;
  transition: all 910ms linear;
}

div:hover {
  transform: translate(90px);
}

.ease {
  transition-timing-function: ease;
}

.linear {
  transition-timing-function: linear;
}

.ease-in {
  transition-timing-function: ease-in;
}

.ease-out {
  transition-timing-function: ease-out;
}

.ease-in-out {
  transition-timing-function: ease-in-out;
}
