div {
	width: 150px;
	height: 150px;
	color: white;
	margin: 2px;
}

.clock {
	background-color: rgb(1, 43, 29);
	border-radius: 50%;
	display: grid;
	margin: 4rem auto;
	/* Adding position relative for absolute positioning of hands */
	position: relative;
}

.hand {
	position: absolute; /* Positioning the hands */
	width: 2px;
	background-color: white;
	/* Positioning the hands at the center vertically */
	top: 50%;
	/* Positioning the hands at the center horizontally */
	left: 50%;
	/* Rotating from the top center */
	transform-origin: 50% 0;
}

.minute {
	height: 45%;
	animation: rotate-minute 6s infinite linear;
}

.hours {
	height: 35%;
	animation: rotate-hour 60s infinite linear;
}

@keyframes rotate-minute {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes rotate-hour {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
