* {
  margin: 0;
}

body {
  background: rgb(22, 2, 2);
  color: white;
}

.parent {
  background: rgb(134, 152, 169);
  border: 2px solid transparent;
  border-radius: 20px;
  max-width: 250px;
  padding: 3rem;
  text-align: center;
  margin: 2rem auto;
}

.title {
  letter-spacing: 2px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-bottom: 1rem;
}
.info {
  letter-spacing: 1px;
  margin-bottom: 5px;
  line-height: 1.5;
  margin-bottom: 1rem;
}
.icon {
  height: 2rem;
  width: 2rem;
  background: rgb(179, 219, 245);
  border-radius: 50%;
  margin: 1rem auto;
}

.btn {
  /* important */
  border: transparent;
  border-radius: 10px;
  padding: 9px;
  background: rgb(106, 0, 0);
  letter-spacing: 3px;
  color: white;
}

.child {
  background: rgb(2, 51, 74);
  padding: 3rem;
  margin: 2rem;
  /* using outline we can add border and it provides us with the tool that we can add border and distance to that border from other areas. */
  outline-width: 2px;
  outline-color: red;
  outline-style: double;
  outline-offset: 12px;
}
