* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "a b"
    "a b"
    "c d"
    "c d"
    "e f";
}

.cell {
  border: 4px solid black;
  text-align: center;
  color: white;
  font-size: 2rem;
}

.cell-1 {
  background: rgb(76, 27, 27);
  grid-area: a;
}

.cell-2 {
  background: rgb(26, 26, 26);
  grid-area: f;
}

.cell-3 {
  background: rgb(0, 72, 255);
  grid-area: e;
}

.cell-4 {
  background: rgb(0, 255, 208);
  order: 100;
}

.cell-5 {
  background: rgb(0, 255, 17);
  grid-area: c;
}
