* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  display: grid;
  /* here we are just naming the grid lines, not the columns. */
  grid-template-columns: [starting] 300px [second] 1fr [ending];
  grid-template-rows: [start] auto 120px auto [end];
  /* add gap between the cells */
  column-gap: 2px;
  row-gap: 4px;
}

.cell {
  border: 4px solid black;
  text-align: center;
  color: white;
  font-size: 3rem;
}

.cell-1 {
  background: rgb(76, 27, 27);
  grid-column: starting/ending;
  grid-row: start/end;
}

.cell-2 {
  background: rgb(26, 26, 26);
  grid-column: second/ending;
}

.cell-3 {
  background: rgb(0, 72, 255);
}

.cell-4 {
  background: rgb(0, 255, 208);
}

.cell-5 {
  background: rgb(0, 255, 17);
}
