/* the default behavior for text-align is center 
line-height: it sets the in between distance for lines 
letter-spacing: it is the distance between the letters horizintally
word-spacing: it is the distance between the words horizintally
text-transform: it is about how we are controlling the casing of the text


 */
* {
  /* margin: 0; */
  padding: 0;
}

body {
}

.heading {
  line-height: 4rem;
}

.heading_1 {
  text-align: center;
  letter-spacing: 2px;
  text-decoration: underline;
}
.first-heading {
  letter-spacing: 3px;
}

.second_heading {
  word-spacing: 3px;
  text-transform: capitalize;
}
