* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav {
	width: 100vw;
	background: black;
	color: white;
	font-size: 1rem;
	letter-spacing: 1px;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	height: 3rem;
	padding: 1rem;
	position: sticky;
	top: 0;
	/* Because of adding position absolute in the hero-center */
	z-index: 30;
}

.nav-center {
	/* Crucial to put the nav on the edge and aligned with the hero center*/
	width: 90vw;
	max-width: 1192px;
	/* Put in the center, but not the element, confined within the width of 90vw */
	margin: 0 auto;
}

nav,
li {
	list-style: none;
}

.hero {
	background: linear-gradient(rgba(24, 20, 20, 0.689), rgba(11, 11, 11, 0.832));
	position: relative;
	min-height: calc(100vh - 3rem);
}

.hero-center {
	width: 90vw;
	max-width: 1192px;
	margin: 0 auto;
	border: 2px solid red;
	padding: 5rem 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.hero-banner {
	padding: 1rem;
	margin: 0 auto;
	border: 2px solid green;
}

.hero-banner p {
	max-width: 35em;
	margin: 0 auto;
	letter-spacing: 2px;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	margin-bottom: 0.8rem;
	color: white;
	font-size: 1.1rem;
	text-align: center;
	animation: banner 1s 1;
}

.hero-banner .btn {
	display: block;
	padding: 0.5rem 1.46rem;
	font-size: 1.1rem;
	margin: 0 auto;
	cursor: pointer;
	background: transparent;
	border: 1px solid white;
	color: white;
	letter-spacing: 2px;
	animation: btn 1s 1;
}

.container {
	min-height: 100vh;
}
/* Media query */

@media screen and (min-width: 768px) {
	.hero {
		background: linear-gradient(rgba(4, 4, 4, 0.555), rgba(12, 14, 12, 0.422)),
			url("./assets/images/hero.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		background-attachment: fixed;
	}
}

@keyframes banner {
	0% {
		opacity: 0;
		transform: translateY(-1000%);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes btn {
	0% {
		opacity: 0;
		transform: translateY(1000%);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
