/* ::before and ::after creates element before and after to the specified image  */

div {
  position: relative;
}

.gallery {
  width: 80vw;
  /* border: 3px solid gold; */
  margin: 120px auto;
}

img {
  width: 100%;
  display: block;
}

div::before {
  content: "";
  border: 2px solid rgb(167, 131, 131);
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  top: -50px;
  left: -50px;
  z-index: -2;
  transition: all 0.9s linear;
}

div::after {
  content: "";
  background: rgba(9, 156, 200, 0.214);
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  top: -40px;
  left: -40px;
  z-index: -2;
  transition: all 0.9s linear;
}

div:hover::before,
div:hover::after {
  top: 0;
  left: 0;
}
