body {
  background-color: grey;
  border: 5px rgba(27, 2, 2, 0.754) solid;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.box {
  padding: 30px 0px;
  text-align: center;
  font-size: 60px;
  flex: 0 0 calc(20% - 1rem);
}

.box-1 {
  background: rgb(182, 114, 255);
}
.box-2 {
  background: rgb(161, 246, 15);
}
.box-3 {
  background: rgb(250, 120, 14);
}

.box-4 {
  background: rgb(223, 52, 177);
}
.box-5 {
  background: rgb(230, 226, 222);
}
