* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

div {
	height: 300px;
}

.one {
	background: linear-gradient(red, green);
}

.two {
	background: linear-gradient(to top, yellow, red);
}

.three {
	background: linear-gradient(to left, green, yellow);
}

.four {
	background: linear-gradient(300deg, green 10%, yellow 30%);
}
.five {
	background: linear-gradient(rgba(177, 169, 169, 0.4), rgba(0, 0, 0, 0.8));
}
