* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container-1 {
	border: 2px solid green;
	display: grid;
	min-height: 12rem;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.container-2 {
	border: 2px solid green;
	display: grid;
	min-height: 12rem;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.cell {
	border: 4px solid black;
	text-align: center;
	color: white;
	font-size: 3rem;
}

.cell-1 {
	background: rgb(76, 27, 27);
}

.cell-2 {
	background: rgb(26, 26, 26);
}

.cell-3 {
	background: rgb(0, 72, 255);
}

.cell-4 {
	background: rgb(0, 255, 208);
}

.cell-6 {
	background: rgb(9, 57, 12);
}

.cell-5 {
	background: rgb(236, 4, 4);
}
