/* rgba take four values, one last value is for opacity */
/* hex means #RRGGBB  
            #FF0000 RED
            #000 BLACK
            #ffffff WHITE
            #00FF00 GREEN
            #0000FF BLUE     */
#one{
color:rgb(123, 32,32);
background-color: rgba(55, 218, 218, 0.635);
}

#two{
color:#ffffff;
background-color: #000000;
}


#three{
background-color: rgb(255, 255, 255);
color:#012312
}

#four{
    background-color: blueviolet;
color:rgba(0, 233,323,0.7);

}