* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	display: grid;
	grid-template-rows: 150px 150px;
	grid-template-columns: repeat(3, 1fr);
	row-gap: 6rem;
	column-gap: 9rem;
}

.cell {
	color: white;
	font-size: 1.1rem;
	display: grid;
	place-items: center;
	border: 2px solid rgb(245, 245, 245);
}

.cell-1 {
	background: rgb(199, 0, 0);
}

.cell-2 {
	background: rgb(0, 0, 0);
}

.cell-3 {
	background: rgb(0, 64, 241);
}

.cell-4 {
	background: rgb(29, 247, 0);
}

.cell-5 {
	background: rgb(227, 102, 0);
}

.cell-6 {
	background: goldenrod;
}

.para {
	padding: 2rem;
}
