div {
  background: rgb(95, 95, 95);
  margin: 0.2rem;
  padding: 1rem;
  color: rgb(255, 255, 255);
  font-size: 1.1rem;
}

.none {
  display: none;
}
.opacity-0 {
  opacity: 0;
}

.visible {
  visibility: hidden;
}
