div {
	border: 1px solid red;
}

p {
	/* To clear the side of the block level element which has a floating element. */

	clear: left;
}

.second {
	border-radius: 50%;
	width: 140px;
	height: 130px;
	float: right;
	float: left;
}
