/* only select the p's which are children or contained within 'my-block' class*/
.my-block p {
  color: red;
}

#new-block h2,
p {
  color: blueviolet;
}

#greeting {
  color: red;
}

.intro {
  background: rgb(204, 204, 204);
  padding: 3rem;
  color: green;
}
